doctype html
head
    title Despre noi | Grivin House
    meta(name='description' content='Grivin House')
    include pug_includes/css_imports

- var headerStyle= 'background: rgba(0,0,0,0.65)'
.super_container
    include pug_includes/header
    // Home
    .intro(style='margin-top:18vh;margin-bottom: 20vh;')
        .container
            .row
                #filters_container.col-md-3.my-5
                #products_container.col-md-9.row(style='border-left:1px solid rgba(156,42,48,0.13)')
    include pug_includes/footer


include pug_includes/generic_imports
script(src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.3/mustache.js')
script(src='https://code.jquery.com/ui/1.12.0/jquery-ui.js')
script(src='js/custom.js')
script(src='js/magazin.js')
script.
    $(document).ready(function() {
        initShopPage()
    });
