doctype html
head
    title Acasa | Grivin House
    meta(name='description' content='Grivin House')
    include pug_includes/css_imports
- var headerStyle= 'background: rgba(0,0,0,0.65)'
.super_container
    include pug_includes/header
    // Home
    .intro(style='margin-top:20vh;margin-bottom: 5vh;')
        .container
            .row.confidentiality
                meta(charset='utf-8')
                h1.ui-title-bar__title Politica de confidentialitate
                p
                    strong PRELUCRARE DATE PERSONALE CONFORM REGULAMENT (UE) 2016/679
                p
                    br
                    | Politica de Confiden&#x21B;ialitate descrie categoriile datelor dumneavoastr&abreve; pe care le prelucr&abreve;m,
                    |                     modalitatea &#x219;i scopurile &icirc;n care le colect&abreve;m, &icirc;n ce situa&#x21B;ii transfer&abreve;m date cu caracter personal &#x219;i
                    |                     diversele drepturi &#x219;i op&#x21B;iuni de care dispune&#x21B;i &icirc;n acest sens. &Icirc;n acela&#x219;i timp, Politica noastr&abreve; de
                    |                     Confiden&#x21B;ialitate detaliaz&abreve; modul &icirc;n care prelucr&abreve;m datele cu caracter personal &icirc;n gestionarea
                    |                     rela&#x21B;iei cu clien&#x21B;ii.
                p &nbsp;
                h3
                    strong &nbsp;1. Principii de protectie a datelor
                br
                ol
                    ol
                ul
                    li
                        | Colectarea datelor personale se va face numai in scopurile specificate, explicite si legitime
                        | (prezentate la pct. 3) .
                    li
                        | Datele nu vor fi procesate catre terti intr-o maniera incompatibila cu acele scopuri;
                    li
                        | &Icirc;n cazul &icirc;n care intervin actualiz&abreve;ri ale datelor transmise, consim&tcedil;&abreve;m&acirc;ntul r&abreve;m&acirc;ne &icirc;n vigoare
                        | p&acirc;n&abreve; la notificarea Grivin House SRL &icirc;n acest sens de c&abreve;tre dumneavoastr&abreve;;
                    li
                        | Procesarea datelor personale se va face &icirc;ntr-o maniera legala, corecta si transparenta;
                    li
                        | Toate datele personale vor fi pastrate confidential si stocate intr-o maniera ce asigura
                        | securitatea necesara;
                    li
                        | Datele personale nu vor fi distribuite persoanelor terte, decat in cazul in care acest lucru
                        | este necesar pentru realizarea scopurilor prezentate la pct 3.;
                    li
                        | Persoanele vizate au dreptul de a solicita accesul la datele personale, rectificarea si
                        | stergerea acestora, impotrivirea sau restrictionarea de la procesarea datelor, cat si de la
                        | dreptul de portabilitate al datelor.
                br
                ol
                h3
                    strong 2. Date personale si colectarea lor
                ul
                p Datele pe care le colectam pot include urmatoarele:
                ul
                    li
                        | Datele personale includ toate tipurile de informatii directe sau indirecte (si anume utilizate
                        | in legatura cu alte date) ce se refera la persoana fizica subiect, cum ar fi : numele si
                        | prenumele,adresa de e-mail, adresa postala, numarul de telefon mobil sau fix si alte date de
                        | contact similare necesare realizarii contactului cu dvs in vederea procesarii comenzilor plasate
                        | sau pentru orice alte obiective planificate in relatia cu dvs;
                    li Colectam date de logare pentru accesarea contului shop online grivin.com
                    li
                        | Colectam prin Google Analtycs date despre dispozitivul dvs. si despre modul in care dvs. si
                        | dispozitivul interactionati cu produsele noastre ;
                    li
                        | Colectam prin Google Analtycs date despre caracteristicile pe care le utilizati, articolele pe
                        | care le achizitionati de pe paginile noastre web pe care le vizitati ;
                    li
                        | Colectam prin Google Analtycs date despre dispozitivul si reteaua pe care le utilizati pentru a
                        | va conecta la produsele noastre, respectiv locatie geografica, limba, sistem de operare. Nu se
                        | colecteaza informatii despre aplicatii software instalate pe dispozitiv, sau chei de produs.
                p &nbsp;
                p
                    strong IMPORTANT:
                    |  TOATE INFORMATIILE COLECTATE DE GOOGLE ANALYTICS PRIN INTERMEDIUL
                    |                     SITE-URILOR NOASTRE SUNT DOAR LA NIVEL STATISTIC, ELE NEPUTAND FI ASOCIATE UNEI ANUMITE PERSOANE.
                    |                     ESTE POSIBIL CA GOOGLE ANALYTICS SA STOCHEZE INFORMATII REFERITOARE LA IP, DAR ACELE INFORMATII NU
                    |                     NE SUNT DISPONIBILE. NOI PUTEM VEDEA DOAR DATELE GENERATE STATISTICE.
                h3
                    br
                    br
                    strong 3. Scopul colectarii datelor personale
                ul
                    li
                        | orice comunicare legata de informarea persoanei fizice privind validarea, expedierea si
                        | facturarea comenzilor, rezolvarea anularilor sau a problemelor de orice natura referitoare la o
                        | comanda, la bunurile achizitionate de pe magazinul online grivin.com;
                    li
                        | orice comunicare legata de informarea persoanei fizice privind expedierea postala/curierat de
                        | mostre, materiale informative, materiale promotionale;
                    li
                        | orice comunicare catre persoanele fizice din baza noastra de date legata de trimiterea de
                        | newslettere informative si/sau alerte periodice, noutati privind produsele, formulare de
                        | feedback, sau alte actiuni sau activitati ale companiei, transmise prin folosirea postei
                        | electronice (e-mail, SMS) a persoanei fizice;
                    li respectarea obligatiilor legale
                p &nbsp;
                p
                    strong IMPORTANT:
                    |  De asemenea, acolo unde este cazul sau situatia o impune pentru
                    |                     realizarea scopului definit mai sus (cu titul de exemplu: expediere unei comenzi, procesare unei
                    |                     comenzi cu plata cu cardul, expedierea de colete cu mostre, materiale informative/promotionale),
                    |                     GRIVIN HOUSE SRL poate furniza datele cu caracter personal altor companii partenere, dar numai in
                    |                     temeiul unui angajament de confidentialitate din partea acestora, prin care garanteaza ca aceste
                    |                     date sunt pastrate in siguranta si ca furnizarea acestor informatii personale se face conform
                    |                     legislatiei in vigoare, dupa cum urmeaza: furnizorilor de servicii de curierat, furnizorilor de
                    |                     servicii de marketing, furnizorilor de servicii de plata/bancare, furnizori de servicii in IT, sau
                    |                     alte servicii similare. Daca nu sunteti de acord cu divulgarea datelor personale acestor companii,
                    |                     sunteti rugati sa contactati DPO la adresa de email gdpr@grivin.com
                    br
                    br
                    | Informatiile cu
                    |                     caracter personal pot fi furnizate si catre Parchetul General, Politie, instantele judecatoresti si
                    |                     altor organe abilitate ale statului, in baza si in limitele prevederilor legale si ca urmare a unor
                    |                     cereri expres formulate.
                p &nbsp;
                h3
                    strong 4. Utilizarea datelor personale
                ul
                    li
                        | vom utiliza datele personale numai pentru scopul in care au fost colectate si vom stoca datele
                        | doar atat cat este necesar pentru scopurile mai sus mentionat (pct. 3);
                p &nbsp;
                h3
                    strong 5. Securitatea procesarii
                ul
                    li
                        | Vom procesa datele in mod sigur, vom aplica si mentine masuri tehnice adecvate pentru a proteja
                        | datele personale impotriva distrugerii sau pierderii accidentale sau ilegale, alterare,
                        | divulgare sau acces neautorizat, in mod special atunci cand procesarea presupune transmiterea
                        | datelor printr-o retea, atat cat si impotriva oricarei alte forme de procesare ilegala.
                    li
                        | &Icirc;ntrebari legate de securitatea datelor personale pot fi trimise catre DPO la adresa de email
                        | gdpr@grivin.com
                p &nbsp;
                h3
                    strong 6. Accesul si rectificarea sau stergerea datelor personale
                ul
                    li
                        | aveti dreptul de a solicita in orice moment accesul la: rectificarea, portabilitatea, stergerea
                        | sau restrictionarea procesarii datelor colectate;
                    li
                        | pentru pastrarea datelor personale actualizate, va recomandam sa ne informati despre orice
                        | schimbare sau discrepanta;
                p &nbsp;
                p
                    | Consim&tcedil;&abreve;m&acirc;ntul exprimat va r&abreve;m&acirc;ne valabil p&acirc;n&abreve; la retragerea lui de c&abreve;tre dumneavoastr&abreve;.
                p
                    | Odata ce v-ati exprimat in scris dezacordul, datele dvs. personale nu vor mai fi procesate &#x219;i se vor
                    | lua m&abreve;surile corespunz&abreve;toare pentru &#x219;tergerea oric&abreve;ror &icirc;nregistr&abreve;ri cu datele dumneavoastr&abreve; cu
                    | caracter personal.
                p
                    | Consim&tcedil;&abreve;m&acirc;ntul poate fi retras oric&acirc;nd, &icirc;n mod gratuit, accesand link-ul de DEZABONARE din footer-ul
                    | oricarui email primit de la GRIVIN HOUSE SRL sau adresand direct cererea dvs. in scris pe email
                    | office@grivin.com
                p
                    | Pentru vizualizarea sau modificarea datelor personale sau pentru a obtine informatii legate de datele
                    | personale, precum si pentru pentru orice nemul&tcedil;umire legat&abreve; de prelucrarea datelor personale, v&abreve;
                    | pute&tcedil;i adresa utiliz&acirc;nd adresa de email office@grivin.com
                p
                    | V&abreve; reamintim drepturile acordate de Regulamentul General privind Protec&tcedil;ia Datelor 679/2016, inclusiv
                    | dreptul de informare, acces, rectificare, de a nu fi supus unei decizii bazate exclusiv pe
                    | prelucrarea automat&abreve;, dreptul de &scedil;tergere.
                p
                    | Pute&tcedil;i s&abreve; v&abreve; exercita&tcedil;i oricare din aceste drepturi prin email la adresa office@grivin.ro.
                p
                    | Este posibil s&abreve; v&abreve; cerem s&abreve; v&abreve; dovedi&#x21B;i identitatea comunic&acirc;ndu-ne o copie a unui mijloc valabil de
                    | identificare pentru a ne conforma cu obliga&#x21B;iile de securitate pe care le avem &#x219;i a &icirc;mpiedica
                    | divulgarea neautorizat&abreve; a datelor.
                p
                    | Vom lua &icirc;n considerare orice solicit&abreve;ri sau pl&acirc;ngeri pe care le primim &#x219;i v&abreve; vom transmite un r&abreve;spuns
                    | &icirc;n timp util. Dac&abreve; nu sunte&#x21B;i mul&#x21B;umit de r&abreve;spunsul nostru, pute&#x21B;i &icirc;nainta pl&acirc;ngerea c&abreve;tre
                    | Autoritatea Na&#x21B;ional&abreve; de Supraveghere a Prelucr&abreve;rii Datelor cu Caracter Personal &ndash; cu sediul &icirc;n Bd.
                    | Gheorghe Magheru nr. 28-30, Bucure&#x219;ti, Rom&acirc;nia.
                p &nbsp;
                h3
                    strong 7. Actualizari ale acesti politici de confidentialitate
                p
                    | Cea mai recent&abreve; actualizare a acestei Politici de Confiden&#x21B;ialitate a fost realizat&abreve; &icirc;n luna iulie
                    | 2018. Ne rezerv&abreve;m dreptul de a actualiza &#x219;i modifica periodic aceast&abreve; Politic&abreve; de Confiden&#x21B;ialitate,
                    | pentru a reflecta orice modific&abreve;ri ale modului &icirc;n care prelucr&abreve;m datele dumneavoastr&abreve; cu caracter
                    | personal sau orice modific&abreve;ri ale cerin&#x21B;elor legale. &Icirc;n cazul oric&abreve;rei astfel de modific&abreve;ri, vom
                    | afi&#x219;a pe website-urile companiei, versiunea modificat&abreve; a Politicii de Confiden&#x21B;ialitate .
    include pug_includes/footer


include pug_includes/generic_imports

script(src='js/custom.js')
script(src='js/magazin.js')