doctype html
head
    title Despre noi | GRIVIN House
    meta(name='description' content='GRIVIN House')
    include pug_includes/css_imports
    script(src='https://www.google.com/recaptcha/api.js')

- var headerStyle= 'background: rgba(0,0,0,0.65)'
.super_container
    include pug_includes/header



    // Home
    .intro.mt-header(style='margin-bottom: 0;')
        .container
            // The Modal
            #received_message_modal.modal
                .modal-dialog.grivin-border
                    .modal-content.p-4
                        // Modal Header
                        .modal-header.border-0
                            img(src='img/logo_complet.png' style='max-height:5vh;margin:auto')
                        // Modal body
                        .modal-body.text-center
                            h2
                                | Am receptionat mesajul dumneavoastra!
                            h3
                                | Vom procesa mesajul dumneavoastra si vom reveni cu un raspuns
                                br
                                |O zi buna!
                            h6.text-gray
                                | Veti fi redirectionat catre magazin in
                                span#countdown.mx-1 10
                                |secunde
                        // Modal footer
                        .modal-footer.border-0
                            .button.red(style='width:100%')
                                a(href='javascript:void(0);' onclick="window.location.href='magazin.html'") Okay

            .row
                .col-md-12
                    h1.text-center.font-weight-bold.my-3
                        | Contact
                .col-md-7.my-5
                    form#contact_form(action="", method='post')
                        .row
                            .col-md-6.p-2
                                input.form-control.p-2(name='name' placeholder='Nume')
                            .col-md-6.p-2
                                input.form-control.p-2(name='subject' placeholder='Subiect')
                            .col-md-6.p-2
                                input.form-control.p-2(name='email' placeholder='Adresa de email')
                            .col-md-6.p-2
                                input.form-control.p-2(name='phone' placeholder='Numar de telefon')
                            .col-md-12.p-2
                                textarea.form-control.p-2(name='message' placeholder='Mesajul dumneavoastra')
                            .col-md-12.p-2
                                .text-center
                                    label.error#recaptcha_error(for="recaptcha", style="display:none")
                                    br
                                    .g-recaptcha.d-inline-block#recaptcha(data-sitekey='6Lf8MLcUAAAAALWNcgvJHjtzuyQIbZdxjO_VXNFD' data-callback='correctCaptcha')
                            .col-md-12.p-2
                                button.button.red.w-100(type="submit")
                                    |Trimite
                .col-md-4.offset-md-1.my-5.d-flex.flex-column.align-items-center.justify-content-center
                    div
                        h3.font-weight-bold
                            | Adresa
                        h4.address
                            | #{address}
                        h3.font-weight-bold
                            | Telefon
                        h4
                            | +0730017452
                        h3.font-weight-bold
                            | Email
                        h4
                            | #{contact_email}
                        h3.font-weight-bold
                            | Social
                        h4
                            a(href='https://www.facebook.com/GRIVIN-House-2911526395738345/')
                                i.fa.fa-facebook-square.social-icon(aria-hidden='true')
                            a(href='#')
                                i.fa.fa-instagram.social-icon(aria-hidden='true')
                            a(href='https://www.linkedin.com/company/grivin')
                                i.fa.fa-linkedin-square.social-icon(aria-hidden='true')
    include pug_includes/footer


include pug_includes/generic_imports

script.
    $(document).ready(function() {
        initContactPage()
    });