doctype html
head
    title Despre noi | GRIVIN HOUSE
    meta(name='description' content='GRIVIN HOUSE')
    include pug_includes/css_imports

- var headerStyle= 'background: rgba(0,0,0,0.65)'
.super_container
    include pug_includes/header
    // Home
    .intro.mt-header(style='margin-bottom: 0;')
        .container
            .row
                .col
                    .themenu_title_bar_container
                        .themenu_stars.text-center.grivin-emblem(style='z-index:2') GRIVIN
                        //
                          <div class="themenu_rating text-center" style="z-index:2">
                          <div class="rating_r rating_r_5"><i></i><i></i><i></i><i></i><i></i></div>
                          </div>
                        .grivin-border.d-flex.flex-column.align-items-center.justify-content-center
                            .themenu_title.text-black-50(style='padding: 15px') Magazinul nostru
                            .intro_text.pl-5.pr-5.pb-5
                                p
                                    | Un concept unic de magazin deschis recent intr-o cladire de birouri reprezentativa in
                                    | care combinam intr-un mod elegant pasiunea pentru vin, arta si muzica buna.
                                p
                                    | Va oferim o selectie speciala de vinuri, pictura, sculptura, fotografie, grafica,
                                    | sticlarie, toate produse
                                    | unicat realizate de artisti recunoscuti din Romania, albume de arta si arhitectura
                                    | precum si muzica buna.
                                p
                                    | Am pus laolalta pasiunile noastre pentru frumos, suntem onorati sa avem in familie
                                    | mai multi artisti
                                    | plastici, pictori, sculptori, arhitecti, am incercat sa cream un concept unic prin
                                    | care sa oferim produse
                                    | deosebite intr-un magazin de cadouri.
                                p
                                    | Am reusit sa alaturam arta vinului bun si muzicii bune, albumelor de arta si
                                    | produselor de sticlarie
                                    | lucrate manual, toate incantandu-ne simturile si relaxandu-ne.
                                    | Impreuna cu arhitectul nostru am creat o mica galerie de arta iar prin modul in care
                                    | am imbinat
                                    | produsele am reusit sa obtinem atmosfera relaxanta pe care clientii nostri o
                                    | apreciaza in orice moment
                                    | al zilei.
                                p
                                    | Consideram ca armonia e esentiala in vietile noastre, prin conceptul propus incercam
                                    | sa oferim
                                    | echilibrul intre valorile simple si dorintele celor care ne viziteaza.
                            .row.px-4.pb-5
                                .col-lg-4
                                    .intro_image
                                        img(src='img/galery/p13.jpg' alt='GRIVIN')
                                .col-lg-4
                                    .intro_image
                                        img(src='img/galery/p14.jpg' alt='GRIVIN')
                                .col-lg-4
                                    .intro_image
                                        img(src='img/galery/p4.jpg' alt='GRIVIN')


    .intro.mb-5
        .container
            .row
                .col-lg-6.offset-lg-3.mb-5
                    .button.red(style='width:100%')
                        a(href='Brosura_GRIVIN.pdf')
                            i.fa.fa-download(aria-hidden='true').mx-3
                            | Descarca brosura GRIVIN
                .col
                    .themenu_title_bar_container
                        .themenu_stars.text-center.grivin-emblem(style='z-index:2') GRIVIN
                        .grivin-border.d-flex.flex-column.align-items-center.justify-content-center
                            .themenu_title.text-black-50.p-4 Provenienta Vinului
                            .intro_text.pb-3.pl-5.pr-5
                                p
                                    | Vinul nostru este produs intr-o mica podgorie situata in sud-vestul Romaniei, in conditii exceptionale de
                                    | sol si clima, specifice judetului Mehedinti.
                                img(src="img/despre/harta.jpg")

                                p
                                    | Viticultura a existat în această zonă inca din timpul dacilor, fiind o zonă locuită și nu foarte îndepărtată de capitala Daciei romane, Ulpia Traiana Sarmizegetusa.

                                p
                                    | Documentar, zona viticola Corcova este recunoscută din secolul al XV-lea. Într-un hrisov datat din 29 iunie 1497, Radu cel Mare face danie Mânăstirii Tismana 300 vedre de vin provenit de la Jidoștița.
                                p
                                    | Clima zonei este temperat - continentală, în care se simt influențe mediteraneene; iarna, în special, au loc invazii de mase de aer umed și cald de origine mediteraneană și oceanică, ceea ce face ca acest anotimp al anului să fie mai blând, iar verile sunt în general călduroase dar cu nopți răcoroase datorate proximității pădurilor și munților. Temperatura medie anuală a aerului este de 11,5°C,  media anuală a precipitațiilor este de cca 600 mm, avand cele mai bune conditii pentru obtinerea strugurilor de calitate superioara. Plantarea viței de vie este executata de la nord la sud pentru a obține o expunere cât mai lungă la lumina și căldura soarelui.
                                p
                                    | Profitand de exceptionala pozitionare de-a lungul paralelei 45, podgoria noastra beneficiaza de conditii de expunere solara identice cu cele mai renumite reginui viticole din lume: Nordul Italiei si sudul Frantei, rezultand vinuri de calitate si complexitate asemanatoare, strugurii ajungand la maturitate in cel mai echilibrat ecosistem din Europa.
                                img(src="img/despre/paralela.png" style="min-width:290px")
                                p
                                    | Aflandu-se la jumatatea distantei intre Ecuator si Polul Nord, podgoria noastra situata de-a lungul Paralelei 45 este insorita mai mult de 15 ore/zi vara si aproape 9 ore/zi in timpul iernii.
                                img(src="img/despre/glob.jpg" style="min-width:290px")
                                p
                                    | Expunerea solara speciala a domeniului, conditiile mineralogice deosebite specifice Podisului Getic si experienta viticultorilor nostri conduc catre vinuri biodinamice de cea mai inalta calitate.

    include pug_includes/footer


include pug_includes/generic_imports