doctype html
html(lang="ro")
    head
        title Acasa | GRIVIN HOUSE
        meta(name='description' content='GRIVIN HOUSE ')
        include pug_includes/css_imports
        style.
            #promotie {
                position: relative !important;
            }

            #promotie:before {
                content: '';
                position: absolute;
                z-index: 3;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                pointer-events: none;
                background-image: url(img/hearts.png);
                animation: falling-hearts 200s linear infinite;
            }

            @keyframes falling-hearts {
                0% {
                    background-position: 0% -300%;
                }
            }

            @-moz-keyframes falling-hearts {
                0% {
                    background-position: 0% -300%;
                }
            }

            @-webkit-keyframes falling-hearts {
                0% {
                    background-position: 0% -300%;
                }
            }

            .flex-container {
                height: 100%;
                padding: 0;
                margin: 0;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .trapezoid {
                clip-path: polygon(0 0, 100% 0, 100% 57%, 92% 89%, 7% 89%, 0 57%);
                margin-left: -1px;
                width: calc(100% + 3px);
                height: 100%;
                background: rgb(128, 35, 39);
                background: linear-gradient(180deg, rgba(128, 35, 39, 1) 0%, rgba(61, 9, 10, 1) 100%);
                position: absolute;
            }

            #circle {
                clip-path: circle(50% at 50% 50%);
                width: 300px;
                top: -150px;
                height: 300px;
                z-index: 2;
                background: #f9f1ce;
                position: absolute;
            }

            .button.yellow {
                border-color: #f9f1ce;
                color: #f9f1ce;
            }

            .button.yellow > a {
                color: #f9f1ce;
            }

            .button.yellow:hover {
                background-color: #f9f1ce;
            }

            .button.yellow > a:hover {
                color: rgb(128, 35, 39)
            }

            .button.large > a {
                font-size: 2em;
            }

            .button.large {
                width: 250px;
                height: 60px;
                padding: 5px;
            }

            .only-on-desktop {
                display: none;
            }

            .promo-text-wrapper {
                width: 80%;
            }

            .logo-vertical {
                width: 200px;
                margin-top: 100px;
            }

            @media only screen and (min-width: 1400px) {
                .only-on-desktop {
                    display: block;
                }

                .promo-text-wrapper {
                    width: 50%
                }
            }

            @media only screen and (max-width: 1000px) {
                .trapezoid {
                    clip-path: polygon(0 0, 100% 0, 100% 57%, 100% 100%, 0% 100%, 0 57%);
                }

                #circle {
                    width: 200px;
                    top: -100px;
                    height: 200px;
                }

                .logo-vertical {
                    width: 100px;
                    margin-top: 75px;
                }

                .promo-text {
                    font-size: 2em;
                }
            }

            @media only screen and (max-width: 550px) {
                .promo-text {
                    font-size: 1.5em;
                }

                .button.large > a {
                    font-size: 1.3em;
                }

                .button.large {
                    width: 150px;
                    height: 50px;
                    padding: 0;
                    margin: 5px !important;
                }

                .button {
                    width: 100px;
                }

                #circle {
                    width: 150px;
                    top: -75px;
                    height: 150px;
                }

                .logo-vertical {
                    width: 100px;
                    margin-top: 50px;
                }
            }

            @media only screen and (max-width: 400px) {
                .promo-text {
                    font-size: 1.2em;
                }

                .button.large > a {
                    font-size: 1em;
                }

                .button > a {
                    font-size: 1em;
                }

                .button.large {
                    height: 50px;
                }
            }


    - var headerStyle= 'background: rgba(0,0,0,0.65)'
    .super_container

        #promo-banner.flex-container(style='display:none;position:fixed; height:100vh; width:100%; background: rgba(0,0,0,0.73); z-index:105')
            .flex-container(style='width:80%; height:80%; background-color:#f9f1ce; overflow: hidden')
                #circle.flex-container
                    img.logo-vertical(src='img/logo_vertical.svg')
                .trapezoid.flex-container
                    .promo-text-wrapper(style='text-align: center')
                        h2.my-4.promo-text(style='color:white')
                            span.grivin-font Grivin House
                            |  ofera acum si abonament lunar sau saptamanal la vin!
                        h3.promo-text(style='color:white; ')
                            | In fiecare luna iti vom trimite un set de
                            span(style='font-size: 1.2em; font-weight: bold')  2
                            | ,
                            span(style='font-size: 1.2em; font-weight: bold')  4
                            | ,
                            span(style='font-size: 1.2em; font-weight: bold')  6
                            | ,
                            span(style='font-size: 1.2em; font-weight: bold')  12
                            |  sau
                            span(style='font-size: 1.2em; font-weight: bold')  18
                            |                         vinuri alese de expertii nostri la un
                            |                         pret fix si redus

                    .button.yellow.large.my-4
                        a(href='abonament.html') Aboneaza-te
                    .button.yellow
                        a(href='javascript:closePromoBanner();') x Inchide
                img.only-on-desktop(src='img/bottle_promo.png' style='z-index:222; position: absolute; height:100%;left:0')

        include pug_includes/header



        // Home 
        .home
            .parallax_background.parallax-window(data-parallax='scroll' data-image-src='img/new/all.jpg' data-speed="0.6")
            div.w-100.h-100.position-absolute(style=' background: black; opacity: .0')
            .home_container
                .container
                    .row.p-1
                        .home_content.text-center.grivin-border.m-auto(style='background-color:#ffffffc9;padding:5% 1% 5% 1%;border:3px solid black; outline:10px solid #ffffffc9;box-shadow: 0px 0px 32px -4px rgba(0,0,0,0.75);')
                            .align-text-bottom.d-md-none.d-inline-block
                                p.text-red(style='font-size: 1rem; white-space:nowrap;')
                                    img(src='img/new_logo.png' style='display: inline-block; max-width: 50%; vertical-align: baseline;')
                                    |                                 La Culture du Vivre
                            .align-text-bottom.d-none.d-md-inline-block.d-lg-none
                                p.text-red(style='font-size: 1.5rem; white-space:nowrap;')
                                    img(src='img/new_logo.png' style='display: inline-block; max-width: 40%; vertical-align: baseline;')
                                    |                                 La Culture du Vivre
                            .align-text-bottom.d-none.d-md-none.d-lg-inline-block
                                p.text-red(style='font-size:2rem; white-space:nowrap;')
                                    img(src='img/new_logo.png' style='display: inline-block; max-width: 40%; vertical-align: baseline;')
                                    |                                 La Culture du Vivre


            .scroll_icon

        .intro.mb-0(style='padding-top:15vh; padding-bottom: 15vh')
            .container
                .row
                    .col
                        .themenu_title_bar_container
                            .themenu_stars.text-center.grivin-emblem.hidden-sm-down(style='z-index:2; margin-top:-15px')
                                | GRIVIN
                            .themenu_rating.text-center(style='z-index:2')
                                .rating_r.rating_r_5
                            .grivin-border.d-flex.flex-column.align-items-center.justify-content-center
                                .themenu_title.grivin-font.text-center(style='padding: 15px;color:#9d2c30')
                                    | Promotie
                                    | Martie
                                .intro_text.pl-5.pr-5.pb-5
                                    h3.text-center Cumpara oricare 2 sticle de vin, iar la a 3-a primesti 50%       reducere!
                                    .col-lg-6.offset-lg-3.mt-5
                                        .button.red(style='width:100%')
                                            a(href='magazin.html')
                                                | Spre magazin




        // Intro
        .intro.mt-5.pt-5
            .container
                .row
                    .col
                        .intro_content.grivin-border
                            .intro_subtitle.page_subtitle Despre Magazin
                            .intro_title
                                h2 Vinuri &amp; Arta
                            .intro_text
                                p
                                    | Un concept unic de magazin deschis recent intr-o cladire de birouri reprezentativa in care combinam
                                    | intr-un mod elegant pasiunea pentru vin, arta si muzica buna.<br>
                                    | Va oferim o selectie speciala de vinuri, pictura, sculptura, fotografie, grafica, sticlarie, toate produse
                                    | unicat realizate de artisti recunoscuti din Romania.


                        .row.hidden-lg-down
                            .col-lg-8
                                .intro_image
                                    picture
                                        source(srcset='img/home_grivin_experience.webp' type="image/webp")

                                        source(srcset='img/home_grivin_experience-min.png' type="image/png" )

                                        img(src='img/home_grivin_experience-min.png' alt='Ciocolata GRIVIN' )

        .intro.mb-0(style="margin-top:5vh")
            .container
                .row
                    .col
                        .themenu_title_bar_container
                            .themenu_stars.text-center.grivin-emblem.hidden-sm-down(style='z-index:2') GRIVIN
                            .themenu_rating.text-center(style='z-index:2')
                                .rating_r.rating_r_5
                                    i
                                    i
                                    i
                                    i
                                    i
                            .grivin-border.d-flex.flex-column.align-items-center.justify-content-center
                                .themenu_title.text-black-50(style='padding: 15px') Vinurile noastre
        .container.pb-5
            .row
                .col-lg-4.my-3
                    .grivin-border(style='padding:10px;	z-index: 1; padding-top:30px; padding-bottom:30px;')
                        h3.text-center.font-weight-bold GRIVIN Rosu
                        .text-center
                            img.img-fluid(src='img/produse/grivin_red_small.jpg' alt='Vin GRIVIN Rosu'  style='max-height: 30vh')

                        h4.mt-2.mx-3.text-center  Un cupaj nobil de Merlot, Cabernet Sauvignon si Syrah <br> Temperatura servire: 16-18 °C
                        h3.mt-1.text-center  64.00 lei
                        h5.text-center.text-gray (TVA inclus)
                        .button.red(style='width:100%')
                                a(href='produs.html?product_code=00000034') Detalii
                .col-lg-4.my-3
                    .grivin-border(style='padding:10px;	z-index: 1; padding-top:30px; padding-bottom:30px;')
                        h3.text-center.font-weight-bold GRIVIN Rose
                        .text-center
                            img.img-fluid(src='img/produse/grivin_rose_small.jpg' alt='Vin GRIVIN Rose' style='max-height: 30vh')

                        h4.mt-2.mx-2.text-center  Un buchet intens de fructe cu o nota predominanta clara de capsuni<br> Temperatura servire: 10-14 °C
                        h3.mt-1.text-center  54.00 lei
                        h5.text-center.text-gray (TVA inclus)
                        .button.red(style='width:100%')
                            a(href='produs.html?product_code=00000033') Detalii
                .col-lg-4.my-3
                    .grivin-border(style='padding:10px;	z-index: 1; padding-top:30px; padding-bottom:30px;')
                        h3.text-center.font-weight-bold GRIVIN Alb
                        .text-center
                            img.img-fluid(src='img/produse/grivin_white_small.jpg' alt='Vin GRIVIN Alb' style='max-height: 30vh')

                        h4.mt-2.mx-3.text-center  Floral, cu note de tei, salcam si caprifoi. Gurmand si plin<br> Temperatura servire: 10-14 °C
                        h3.mt-1.text-center  54.00 lei
                        h5.text-center.text-gray (TVA inclus)
                        .button.red(style='width:100%')
                            a(href='produs.html?product_code=00000032') Detalii

                .col-lg-6.offset-lg-3.mt-5
                    .button.red(style='width:100%')
                        a(href='Brosura_GRIVIN.pdf')
                            i.fa.fa-download(aria-hidden='true').mx-3
                            | Descarca brosura GRIVIN
                .col-lg-6.offset-lg-3.mt-2
                    .button.red(style='width:100%')
                        a(href='magazin.html')
                            i.fa.fa-shopping-cart(aria-hidden='true').mx-3
                            | Spre magazin

        //
            .intro(style='margin-bottom: 0;margin-top:0')
                .container
                    .row
                        .col-md-4.p-0(style='background-color: black')
                            .grivin-border.d-flex.flex-column.align-items-center.justify-content-center(style='padding: 50px; height:100%; background: #272425')
                                .intro_subtitle.page_subtitle Instagram
                                .intro_title.text-center.my-3
                                    h3.text-white 500
                                    h3.text-white Followers
                                .button.trans_200
                                    a(href='#') Follow
                        .col-md-8.p-0.d-none.d-lg-block
                            .popup-gallery.row
                                .col-md-4.p-0(style='overflow:hidden; max-height: 250px')
                                    a(href='img/galery/p1.png' title='The Cleaner')
                                        img.img-fluid(alt="instagram image" src='img/galery/p1 (Custom).png')
                                .col-md-4.p-0(style='overflow:hidden; max-height: 250px')
                                    a(href='img/galery/p2.png' title='The Cleaner')
                                        img.img-fluid(alt="instagram image" src='img/galery/p2 (Custom).png')
                                .col-md-4.p-0(style='overflow:hidden; max-height: 250px')
                                    a(href='img/galery/p3.png' title='The Cleaner')
                                        img.img-fluid(alt="instagram image" src='img/galery/p3 (Custom).png')
                                .col-md-4.p-0(style='overflow:hidden; max-height: 250px')
                                    a(href='img/galery/p4.png' title='The Cleaner')
                                        img.img-fluid(alt="instagram image" src='img/galery/p4 (Custom).png')
                                .col-md-4.p-0(style='overflow:hidden; max-height: 250px')
                                    a(href='img/galery/p5.png' title='The Cleaner')
                                        img.img-fluid(alt="instagram image" src='img/galery/p5 (Custom).png')
                                .col-md-4.p-0(style='overflow:hidden; max-height: 250px')
                                    a(href='img/galery/p6.png' title='The Cleaner')
                                        img.img-fluid(alt="instagram image" src='img/galery/p6 (Custom).png')

        .intro
            .container
                .row
                    .col
                        .themenu_title_bar_container
                            .themenu_stars.text-center.grivin-emblem(style='z-index:2') GRIVIN
                            .grivin-border.d-flex.flex-column.align-items-center.justify-content-center
                                .themenu_title.text-center(style='padding: 15px; color:black') Degustari si organizare evenimente corporate
                                .intro_text.pl-5.pr-5.pb-5
                                    p
                                        | O echipa unita este unul dintre factorii cheie care asigura succesul tuturor
                                        | companiilor. Activitatile de team building sunt benefice oricarei companii,
                                        | indiferent de numarul de angajati, deoarece incurajeaza munca in echipa,
                                        | imbunatateste comunicarea si dezvolta relatiile interpersonale.
                                    p
                                        | Venim in intampinarea acestei idei cu toata energia si experienta noastra,
                                        | va ajutam sa va organizati un team building de 1 zi sau un weekend in
                                        | Bucuresti sau in tara incluzand si o degustare de vinuri. Lucram in
                                        | parteneriat cu clientii nostri pentru a propune locatii atractive,
                                        | adecvate tematicii evenimentului si numarului de participanti, pentru a
                                        | rezerva spatii de cazare si pentru a selecta toate serviciile pe care
                                        | specificul evenimentului le implica.

                                .row.px-4.pb-2.hidden-md-down
                                    .col-lg-3.p-1
                                        .intro_image
                                            img(src='img/galery/l22 (Custom).jpg' alt='GRIVIN')
                                    .col-lg-3.p-1
                                        .intro_image
                                            img(src='img/galery/l23 (Custom).jpg' alt='GRIVIN')
                                    .col-lg-3.p-1
                                        .intro_image
                                            img(src='img/galery/l26 (Custom).jpg' alt='GRIVIN')
                                    .col-lg-3.p-1
                                        .intro_image
                                            img(src='img/galery/l25 (Custom).jpg' alt='GRIVIN')

        .intro(style='margin-bottom: 1vh; margin-top:0')
            .container
                .row.text-center
                    .col-lg-6.offset-lg-3.mt-2
                        .button.red(style='width:100%')
                            a(href='magazin.html')
                                i.fa.fa-shopping-cart(aria-hidden='true').mx-3
                                | Spre magazin

                    .col-sm-6.offset-md-3
                        .single
                            h3 Abonati-va la noutatile GRIVIN
                            .col-md-12
                                label(for='subscribe_email') Adresa de email
                                input#subscribe_email.form-control.p-2(type='email' placeholder='Adresa de email')
                            .col-md-4.offset-md-4.col-xs-12.py-4
                                .button.round5.red.trans_200.w-100
                                    a(href='#') Abonare
        include pug_includes/footer


    include pug_includes/generic_imports

    script.
        $(document).ready(function () {
            $('.popup-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                    titleSrc: function (item) {
                        return item.el.attr('title') + '<small>by George Cotoroana</small>';
                    }
                }
            });
        });
