doctype html
html(lang="ro")
    head
        title Acasa | Grivin House
        meta(name='description' content='Grivin House')
        include pug_includes/css_imports
    - var headerStyle= ''
    .super_container
        include pug_includes/header



        // Home
        .home
            .parallax_background.parallax-window(data-parallax='scroll' data-image-src='img/home_bg.png' data-speed='0.8')
            div.w-100.h-100.position-absolute(style=' background: black; opacity: .5')
            .home_container
                .container
                    .row
                        .col
                            .home_content.text-center
                                .home_subtitle.grivin-font(style='color:#CE9042') Grivin House
                                .home_title.grivin-font
                                    h1 An Extraordinary Experience

            .scroll_icon
        // Intro
        .intro.mt-5.pt-5
            .container
                .row
                    .col
                        .intro_content.grivin-border
                            .intro_subtitle.page_subtitle Despre Magazin
                            .intro_title
                                h2 Vinuri &amp; Arta
                            .intro_text
                                p
                                    | Un concept unic de magazin deschis recent intr-o cladire de birouri reprezentativa in care combinam
                                    | intr-un mod elegant pasiunea pentru vin, arta si muzica buna.<br>
                                    | Va oferim o selectie speciala de vinuri, pictura, sculptura, fotografie, grafica, sticlarie, toate produse
                                    | unicat realizate de artisti recunoscuti din Romania.


                        .row.hidden-lg-down
                            .col-lg-8
                                .intro_image
                                    img(src='img/home_grivin_experience.png' alt='Ciocolata Grivin' )
        .intro.mb-0(style="margin-top:5vh")
            .container
                .row
                    .col
                        .themenu_title_bar_container
                            .themenu_stars.text-center.grivin-emblem.hidden-sm-down(style='z-index:2') Grivin
                            .themenu_rating.text-center(style='z-index:2')
                                .rating_r.rating_r_5
                                    i
                                    i
                                    i
                                    i
                                    i
                            .grivin-border.d-flex.flex-column.align-items-center.justify-content-center
                                .themenu_title.text-black-50(style='padding: 15px') Vinurile noastre
        .container.pb-5
            .row
                .col-lg-4.my-3
                    .grivin-border(style='padding:10px;	z-index: 1; padding-top:30px; padding-bottom:30px;')
                        h3.text-center.font-weight-bold GRIVIN Rosu
                        .text-center
                            img.img-fluid(src='img/produse/grivin_red.png' alt='Vin Grivin Rosu'  style='max-height: 30vh')

                        h4.mt-2.mx-3.text-center  Un cupaj nobil de Merlot, Cabernet Sauvignon si Syrah
                        h3.mt-1.text-center  64.00 lei
                        .button.red(style='width:100%')
                                a(href='produs.html?product_code=100001') Detalii
                .col-lg-4.my-3
                    .grivin-border(style='padding:10px;	z-index: 1; padding-top:30px; padding-bottom:30px;')
                        h3.text-center.font-weight-bold GRIVIN Rose
                        .text-center
                            img.img-fluid(src='img/produse/grivin_rose.png' alt='Vin Grivin Rose' style='max-height: 30vh')

                        h4.mt-2.mx-2.text-center  Un buchet intens de fructe cu o nota predominanta clara de capsuni
                        h3.mt-1.text-center  54.00 lei
                        .button.red(style='width:100%')
                            a(href='produs.html?product_code=100002') Detalii
                .col-lg-4.my-3
                    .grivin-border(style='padding:10px;	z-index: 1; padding-top:30px; padding-bottom:30px;')
                        h3.text-center.font-weight-bold GRIVIN Alb
                        .text-center
                            img.img-fluid(src='img/produse/grivin_white.png' alt='Vin Grivin Alb' style='max-height: 30vh')

                        h4.mt-2.mx-3.text-center  Floral, cu note de tei, salcam si caprifoi. Gurmand si plin
                        h3.mt-1.text-center  54.00 lei
                        .button.red(style='width:100%')
                            a(href='produs.html?product_code=100003') Detalii


        //
            .intro(style='margin-bottom: 0;margin-top:0')
                .container
                    .row
                        .col-md-4.p-0(style='background-color: black')
                            .grivin-border.d-flex.flex-column.align-items-center.justify-content-center(style='padding: 50px; height:100%; background: #272425')
                                .intro_subtitle.page_subtitle Instagram
                                .intro_title.text-center.my-3
                                    h3.text-white 500
                                    h3.text-white Followers
                                .button.trans_200
                                    a(href='#') Follow
                        .col-md-8.p-0.d-none.d-lg-block
                            .popup-gallery.row
                                .col-md-4.p-0(style='overflow:hidden; max-height: 250px')
                                    a(href='img/galery/p1.png' title='The Cleaner')
                                        img.img-fluid(alt="instagram image" src='img/galery/p1 (Custom).png')
                                .col-md-4.p-0(style='overflow:hidden; max-height: 250px')
                                    a(href='img/galery/p2.png' title='The Cleaner')
                                        img.img-fluid(alt="instagram image" src='img/galery/p2 (Custom).png')
                                .col-md-4.p-0(style='overflow:hidden; max-height: 250px')
                                    a(href='img/galery/p3.png' title='The Cleaner')
                                        img.img-fluid(alt="instagram image" src='img/galery/p3 (Custom).png')
                                .col-md-4.p-0(style='overflow:hidden; max-height: 250px')
                                    a(href='img/galery/p4.png' title='The Cleaner')
                                        img.img-fluid(alt="instagram image" src='img/galery/p4 (Custom).png')
                                .col-md-4.p-0(style='overflow:hidden; max-height: 250px')
                                    a(href='img/galery/p5.png' title='The Cleaner')
                                        img.img-fluid(alt="instagram image" src='img/galery/p5 (Custom).png')
                                .col-md-4.p-0(style='overflow:hidden; max-height: 250px')
                                    a(href='img/galery/p6.png' title='The Cleaner')
                                        img.img-fluid(alt="instagram image" src='img/galery/p6 (Custom).png')

        .intro
            .container
                .row
                    .col
                        .themenu_title_bar_container
                            .themenu_stars.text-center.grivin-emblem(style='z-index:2') Grivin
                            .grivin-border.d-flex.flex-column.align-items-center.justify-content-center
                                .themenu_title.text-center(style='padding: 15px; color:black') Degustari si organizare evenimente corporate
                                .intro_text.pl-5.pr-5.pb-5
                                    p
                                        | O echipa unita este unul dintre factorii cheie care asigura succesul tuturor
                                        | companiilor. Activitatile de team building sunt benefice oricarei companii,
                                        | indiferent de numarul de angajati, deoarece incurajeaza munca in echipa,
                                        | imbunatateste comunicarea si dezvolta relatiile interpersonale.
                                    p
                                        | Venim in intampinarea acestei idei cu toata energia si experienta noastra,
                                        | va ajutam sa va organizati un team building de 1 zi sau un weekend in
                                        | Bucuresti sau in tara incluzand si o degustare de vinuri. Lucram in
                                        | parteneriat cu clientii nostri pentru a propune locatii atractive,
                                        | adecvate tematicii evenimentului si numarului de participanti, pentru a
                                        | rezerva spatii de cazare si pentru a selecta toate serviciile pe care
                                        | specificul evenimentului le implica.

                                .row.px-4.pb-2.hidden-md-down
                                    .col-lg-2.p-1
                                        .intro_image
                                            img(src='img/galery/p13.jpg' alt='Grivin')
                                    .col-lg-2.p-1
                                        .intro_image
                                            img(src='img/galery/p14.jpg' alt='Grivin')
                                    .col-lg-2.p-1
                                        .intro_image
                                            img(src='img/galery/p4.jpg' alt='Grivin')
                                    .col-lg-2.p-1
                                        .intro_image
                                            img(src='img/galery/p1.jpg' alt='Grivin')
                                    .col-lg-2.p-1
                                        .intro_image
                                            img(src='img/galery/p2.jpg' alt='Grivin')
                                    .col-lg-2.p-1
                                        .intro_image
                                            img(src='img/galery/p3.jpg' alt='Grivin')
        .intro(style='margin-bottom: 1vh; margin-top:0')
            .container
                .row.text-center
                    .col-sm-6.offset-md-3
                        .single
                            h3 Abonati-va la noutatile grivin
                            .col-md-12
                                label(for='subscribe_email') Adresa de email
                                input#subscribe_email.form-control.p-2(type='email' placeholder='Adresa de email')
                            .col-md-4.offset-md-4.col-xs-12.py-4
                                .button.round5.red.trans_200.w-100
                                    a(href='#') Abonare
        include pug_includes/footer


    include pug_includes/generic_imports

    script.
        $(document).ready(function () {
            $('.popup-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                    titleSrc: function (item) {
                        return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
                    }
                }
            });
        });
