doctype html
head
    title Despre noi | GRIVIN HOUSE
    meta(name='description' content='GRIVIN HOUSE')
    include pug_includes/css_imports

- var headerStyle= 'background: rgba(0,0,0,0.65)'
.super_container
    include pug_includes/header
    // Home
    .intro.mt-header(style='margin-bottom: 20vh;')
        .h1.text-center.mb-5(style='color:black') Magazin
        .container
            .row
                #filters_container.col-md-3.my-5
                .col-md-9
                    #products_container.row(style='border-left:1px solid rgba(156,42,48,0.13)')

    include pug_includes/footer


include pug_includes/generic_imports
script.
    $(document).ready(function() {
        initShopPage()
    });
