doctype html
head
    title GRIVIN HOUSE
    meta(name='description' content='GRIVIN HOUSE')
    include pug_includes/css_imports

- var headerStyle= 'background: rgba(0,0,0,0.65)'
#modal_container
.super_container
    include pug_includes/header
    // Home
    .intro.mt-header
        .container
            .row
                //.col-md-12.mb-3
                    h4.font-weight-bold
                        a(href='index.html')
                            i.fa.fa-arrow-left(aria-hidden='true').mr-2
                            | Continua Cumparaturile



                .col-md-6.text-center
                    img#product_image.img-fluid.blur-5(src='#' style='max-height: 70vh')
                .col-md-6
                    .pb-4(style='border-bottom:1px solid gray ')
                        h1#product_name.font-weight-bold.blur-5
                        h3#short_description.text-gray.blur-5
                        h3#subdescription.text-gray.blur-5
                    .py-4(style='border-bottom:1px solid gray')
                        h2.font-weight-bold.blur-5
                            span#price 75.00
                            small.text-gray.mr-2  (TVA inclus)
                            small#discounted_from(style='color:gray;text-decoration: line-through;margin-left: 15px;')
                        //h3.font-weight-bold.blur-5
                            small#price_without_vat.text-gray.mr-2  (TVA inclus)

                        input.product_quantity_picker(type='number' name='quantity' min='1' max='5' value='1')
                        .button.red.trans_200.ml-1(style=' border-radius: 5px; display: inline-block; margin-bottom:2px;')
                            a#add_product_to_cart_button(href='javascript:void(0);') Adauga in cos
                    .my-3
                        h4#long_description.font-weight-bold.blur-5
                        .row
                            .col-md-12.my-2.font-weight-bold(style='font-size: 16px;line-height: 19px;')
                                img(src='img/icons/livrare_rapida.svg')
                                span.ml-2 Livrare in maxim 2 zile lucratoare
                            .col-md-12.my-2.font-weight-bold(style='font-size: 16px;line-height: 19px;')
                                img(src='img/icons/shipping.svg')
                                span.ml-2 Transport in cutii securizate
                            .col-md-12.my-2.font-weight-bold(style='font-size: 16px;line-height: 19px;')
                                img(src='img/icons/retur2.svg')
                                span.ml-2 14 de zile perioada de retur
                            .col-md-6.my-2
                                .button.red.trans_200.ml-1.w-100
                                    a(href='magazin.html') Continua Cumparaturile
            .row.my-5.pt-3.mx-1(style='border-top:1px solid gray')
                div
                    h3.font-weight-bold.mb-3 LIVRAREA SI PLATA
                    h5.mb-4 Coletele vor fi livrate prin intermediul curierului Fan Courier
                    h4.font-weight-bold Livrare in Bucuresti
                    ul.dotted
                        li
                            h5
                                strong Ridicare gratuita din showroom-ul #{showroom}
                                br

                    .embed-responsive.embed-responsive-21by9.mb-5.col-md-8.offset-md-2
                        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11387.02111719384!2d26.074817450932326!3d44.479188759422826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b2024578155555%3A0x3073de0c0e89c40f!2sGRIVIN%20House!5e0!3m2!1sen!2sro!4v1574421768584!5m2!1sen!2sro' )
                    ul.dotted
                        li
                            h5 Transport Gratuit pentru comenzi cu valoarea mai mare de 200 lei
                        li
                            h5.mb-4
                                | Pentru comenzi cu valoare mai mica de 200 lei, costul transportului este de
                                | 14,99 lei (TVA inclus)

                    h4.font-weight-bold Livrare in Tara
                    ul.dotted
                        li
                            h5 Transport Gratuit pentru comenzi cu valoarea mai mare de 200 lei
                        li
                            h5.mb-4
                                | Pentru comenzi cu valoare mai mica de 200 lei, costul transportului este de
                                | 19,99 lei (TVA inclus)
                    h4.font-weight-bold Plata
                    ul.dotted
                        li
                            h5
                                | Plata prin ramburs la livrare
                        li
                            h5
                                | Plata prin OP in contul firmei noastre: RO10RZBR0000060020195904
    include pug_includes/footer


include pug_includes/generic_imports
script.
    $(document).ready(function() {
        initProductPage()
    });
