doctype html
head
    title Acasa | Grivin House
    meta(name='description' content='Grivin House')
    include pug_includes/css_imports
- var headerStyle= 'background: rgba(0,0,0,0.65)'
.super_container
    include pug_includes/header
    // Home
    .intro.mt-header(style='margin-bottom: 5vh;')
        .container
            .col-md-12
                .row.confidentiality
                    h1.font-weight-bold.col-md-12 Termeni si conditii
                    p.col-md-12
                        | Folosind site-ul www.grivin.com (denumit in continuare si grivin.com), sunteti
                        | implicit de acord cu
                        | Termenii si Conditiile de Utilizare de mai jos. Pentru folosirea in cele mai bune conditii a
                        | site-ului, se recomanda citirea cu atentie a Termenilor si Conditiilor de Utilizare. In cazul in
                        | care nu sunteti de acord cu Termenii si Conditiile de Utilizare, nu folositi site-ul
                        | www.grivin.com. www.grivin.com isi rezerva dreptul de a modifica Termenii si Conditiile de
                        | Utilizare oricand considera necesar, fara notificare prealabila. Versiunea in vigoare a Termenilor
                        | si Conditiilor de Utilizare este in permanenta disponibila pe site. Verficati aceasta pagina
                        | periodic, pentru a lua cunostinta de eventualele schimbari. Continuarea folosirii site-ului dupa
                        | schimbarea Termenilor si Conditiilor de Utilizare implica acceptarea modificarilor efectuate si a
                        | noilor Termeni si Conditii de Utilizare.
                    h2.col-md-12 Informatii generale
                    p.col-md-12
                        | Prin site intelegem colectia de informatii obtinuta prin accesarea adresei de web
                        | www.grivin.com.
                        br
                        |                     Acest site ce este proprietatea S.C. GRIVIN HOUSE S.R.L. (numita in continuare
                        |                     GRIVIN) care il intretine si il administreaza:
                    p.col-md-12 S.C. GRIVIN HOUSE S.R.L.
                    p.col-md-12.ml-3(style='color:gray')
                        |                     Strada Argentrina nr. 25. Sector 1, 011753, Bucuresti, Romania
                        br
                        |                     Reg. Com.: J40/12902/2011
                        br
                        |                     CUI: RO29280669
                        br
                        |                     IBAN LEI: RO10RZBR0000060020195904
                        br
                        |                     IBAN EURO: RO31RZBR0000060020660738
                        br
                        |                     Banca: Raiffeisen Bank - Agentia Aviatieii
                    p.col-md-12
                        | Toate preturile afisate pe site sunt exprimate in RON si includ TVA (19%).
                        br
                        |                     Datorita volumului mare de informatii si a conditiilor impuse de catre producatori, caracteristicile
                        |                     si disponibilitatea produselor prezentate in acest site se pot schimba fara o notificare prealabila.
                    h3.col-md-12.font-weight-bold Colectarea de informatii personale
                    p.col-md-12
                        | Grivin.com aplica cele mai inalte standarde in tratamentul confidential al clientilor. Toate
                        | informatiile (inclusiv, dar nu exclusiv, cele legate de contul clientului, tranzactii,
                        | corespondenta)
                        | sunt utilizate cu maxima discretie. Singurele informatii personale colectate de grivin.com sunt
                        | acelea
                        | furnizate voluntar de catre utilizator, la efectuarea tranzactiilor sau in alte operatiuni. Simpla
                        | navigare a site-ului nu implica colectarea de informatii personale. Anumite functionalitati sau
                        | servicii
                        | din site necesita furnizarea anumitor informatii personale; acestea vor fi folosite numai in scopul
                        | pentru care au fost furnizate si/sau pentru comunicarile dintre site si clientii sai, atunci cand
                        | acestea sunt necesare (de exemplu: confirmarea unei comenzi, anuntarea programului de sarbatori,
                        | reduceri de pret, promotii).
                        br
                        br
                        |                     Grivin.com nu va divulga informatiile personale ale utilizatorilor
                        |                     colectate pe site nici unei terte persoane neautorizate. Aceste informatii pot fi insa divulgate
                        |                     autoritatilor indrituite sa verifice tranzactiile comerciale, numai la solicitarea justificata a
                        |                     acestora. grivin.com poate furniza unor persoane competente informatii colective si statistici in
                        |                     legatura cu numarul, profilul sau alte caracteristici ale utilizatorilor sai, in scopul analizarii
                        |                     statistice a acestora. Aceste informatii nu vor include date de identificare personala.
                    h3.col-md-12
                        strong Cautari
                    p.col-md-12
                        | Toate functiile de cautare oferite de grivin.com sunt puse la dispozitia
                        | utilizatorilor in scopul
                        | sporirii functionalitatii site-ului. grivin.com nu colecteaza informatii personale in urma
                        | operatiunilor de cautare, dar poate pastra si analiza istoricul cautarilor efectuate, in scopul de a
                        | identifica interesele clientilor si de a imbunatati serviciile oferite acestora.
                        br
                        strong Hyperlink-uri si alte site-uri
                        br
                        |                     Grivin.com poate include in site link-uri catre alte site-uri, aflate sau nu in
                        |                     proprietatea GRIVIN HOUSE.
                        br
                        |GRIVIN HOUSE nu poate fi, in nici o circumstanta, responsabil pentru continutul acestor
                        |                     site-uri.
                        br
                        strong Greseli de tiparire
                        br
                        |                     Grivin.com si furnizorii sai nu isi asuma responsabilitatea
                        |                     pentru greselile de tiparire sau afisare in ceea ce priveste preturile, caracteristicile sau
                        |                     imaginile produselor. In cazul in care o comanda nu poate fi onorata din cauza unor astfel de erori,
                        |                     grivin.com isi rezerva dreptul de a anula comanda respectiva si de a anunta clientul in cel mai
                        |                     scurt timp posibil despre eroarea aparuta.
                        br
                        br
                    h3.col-md-12.font-weight-bold Utilizarea site-ului de catre persoane sub 18 ani
                    p.col-md-12
                        | Grivin.com nu este destinat persoanelor sub 18 ani. Acestea, desi nu pot fi impiedicate, nu detin
                        | totusi dreptul de a trimite sau posta informatii in grivin.com, de orice natura ar fi acestea.
                        | Orice astfel de operatie va fi executata prin intermediul reprezentantului legal al minorului.
                    h3.col-md-12.font-weight-bold Inregistrarea ca membru, parola si comportamentul ca membru.
                    p.col-md-12
                        | Prin inregistrarea ca membru veti fi solicitat sa va alegeti un nume de utilizator (adresa de
                        | e-mail)
                        | si o parola. Sunteti responsabil(a) de pastrarea in siguranta a parolei de acces ca membru al
                        | site-ului grivin.com, orice activitate desfasurata sub numele dumneavoastra de utilizator fiind
                        | integral in responsabilitatea dumneavoastra.
                        br
                        |                     Sunteti de acord sa ne instiintati imediat
                        |                     despre orice pierdere a parolei sau semn de activitate neautorizata sub numele dumneavoastra de
                        |                     utilizator.
                        br
                        |                     Sunteti pe deplin in cunostinta de cauza ca orice informatie, date, text, fotografii,
                        |                     grafica etc continute in acest site sunt responsabilitatea acelei persoane/entitati de la care
                        |                     provine. In aceste conditii nu putem sub nici o forma, direct sau indirect, fi facuti responsabili
                        |                     pentru continutul site-ului incluzand, dar nelimitandu-se la, informatii trunchiate, incomplete sau
                        |                     gresite sau pentru orice consecinte ale utilizarii acestora.
                        br
                        strong Promotii si concursuri
                        br
                        |                     Noi ne
                        |                     stabilim singuri regulamentele promotiilor si ale concursurilor pe care le organizam. Aceste
                        |                     regulamente sunt aduse la cunostinta eventualilor participanti numai prin intermediul site-ului
                        |                     propriu sau alte mijloace de comunicare publica sau privata. De promotii beneficiaza doar acele
                        |                     comenzi care respecta intocmai regulile afisate pe site. De asemenea promotiile se aplica doar
                        |                     comenzilor care sunt inregistrate de catre companie in perioada de timp in care promotia este valida
                        |                     si numai in limita stocului disponibil.
                        br
                        |                     Nu garantam disponibilitatea pe stoc a produselor pentru
                        |                     promotie si o putem intrerupe sau anula in orice moment fara nici o notificare prealabila.
                    h3.col-md-12.font-weight-bold.mt-4 Pretul produselor

                        p Preturile sunt afisate pe site in lei si anume: LEI (RON) cu TVA.
                        p.font-weight-bold Plata produselor
                        p
                            | Produsele comandate raman proprietatea GRIVIN HOUSE pana in
                            | momentul achitarii integrale a sumelor de plata. Plata produselor comandate se poate face doar
                            | prin ramburs
                        p.font-weight-bold Livrarea produselor
                        p
                            | Produsele comandate se pot livra atat in tara cat si in
                            | strainatate, utilizand modalitatea si termenul de livrare alese de tine la efectuarea comenzii.
                            | Produsele se afla in ambalajul ales de tine si sunt asigurate pe tot parcursul transportului pana la
                            | livrare.
                        p.font-weight-bold LIVRAREA COMENZILOR IN BUCURESTI se face:
                        p
                            | GRATUIT &ndash; daca valoarea (cu TVA) depaseste 200 RON
                            | Costul transportului (pentru comenzi sub 200 RON) este de 14,99 RON (TVA inclus)
                        p.font-weight-bold
                            | LIVRAREA COMENZILOR IN TARA se face:
                        p
                            | GRATUIT la sediul tau &ndash; daca valoarea (cu TVA) depaseste 200 RON
                            | Costul transportului (pentru
                            |                     comenzi sub 200 RON)&nbsp;este de 19,99 RON (TVA inclus)
                        p
                            | In cazul in care nu puteti fi gasit la data si
                            | ora stabilite pentru livrare, vei fi apelat la numarul de telefon declarat, in caz contrar,
                            | grivin.com va pastra bunurile comandate timp de 3 zile lucratoare, interval in care va vom
                            | contacta din nou pentru a definitiva livrarea. In cazul in care nici de aceasta data nu veti fi
                            | gasit, comanda va fi anulata.
                            br
                            |                     In cazuri speciale (produsele comandate nu se afla in stocul nostru
                            |                     sau al furnizorului, dificultati de transport) ne rezervam dreptul de a mari corespunzator perioada
                            |                     de livrare.
                            br

                        p.font-weight-bold
                            | LIVRAREA COMENZILOR IN AFARA TARII:
                        p
                            | Pentru comenzile ce se
                            | doresc a fi expediate in afara tarii, trebuie sa ne solicitati in scris o cotatie de transport, la
                            | adresa comenzi@grivin.com.
                            br
                            | GRIVIN isi rezerva dreptul de a nu acepta comenzi si/sau
                            |                     livrari de la anumiti clienti si/sau catre anumite adrese.

                            br
                        p.font-weight-bold
                            | Termenul de Valabilitate,
                            | Garantia si/sau Service-ul Produselor
                        p
                            | Produsele ce sunt comercializate prin acest
                            | site au, fiecare, termenul de valabilitate, garantia si/sau service-ul oferite acestora de
                            | producator. Nu se poate invoca garantia in conditiile utilizarii improprii sau incorecte a
                            | produsului. In maxim 48 de ore de la livrarea produsului, in cazul depistarii unor probleme de
                            | functionare, clientul poate solicita companiei noastre returnarea produsului/produselor, numai in
                            | ambalajul original si impreuna cu originalele documentelor tranzactiei respective. In acest caz,
                            | acestuia i se poate inlocui respectivul obiect cu unul identic sau &ndash; daca acest lucru nu este
                            | posibil &ndash; poate primi inapoi suma platita pentru acel obiect.
                            br
                        p.font-weight-bold
                            | Date personale
                        p
                            | Pe site-ul https://www.grivin.com, utilizatorul este responsabil pentru toate activitatile care
                            | survin prin accesarea contului si parolei personale. GRIVIN nu poate fi facuta responsabila
                            | pentru erorile survenite in urma neglijentei utilizatorului privind securitatea si
                            | confidentialitatea contului si parolei sale.
                            br
                            |                     Datele personale ale utilizatorului vor putea fi
                            |                     folosite de catre https://www.grivin.com si furnizorii sai numai in scopul declarat al acestui
                            |                     site. Informatiile din contul de inregistrare, precum si datele din formularul de comanda vor fi
                            |                     folosite pentru a trimite utilizatorului confirmarea comenzilor, informari despre eventualele
                            |                     promotii, etc.
                            br
                            |                     Datele personale vor putea fi insa transmise autoritatilor in drept sa verifice
                            |                     tranzactiile comerciale sau altor autoritati in drept sa efectueze orice verificari justificate in
                            |                     baza legii, daca acest lucru va fi solicitat in conformitate cu legile in vigoare.
                            br
                        p.font-weight-bold
                            strong Securitatea informatiilor
                        p
                            | GRIVIN garanteaza securitatea si confidentialitatea datelor
                            | gazduite si transmise prin sistemul sau informatic. GRIVIN nu isi asuma insa responsabilitatea
                            | pentru pierderile de informatii cauzate de orice defectiuni sau erori ale softului cu care este
                            | conceput si gazduit site-ul si nici nu garanteaza faptul ca site-ul, serverul/serverele sau
                            | mailurile expediate de https://www.grivin.com nu contin virusi sau alte componente daunatoare.
                            br
                            | De
                            | asemenea, GRIVIN nu raspunde pentru defectiunile care pericliteaza securitatea serverului pe care
                            | este gazduit site-ul. Garantam securitatea si confidentialitatea, dar nu garantam securitatea sau
                            | stabilitatea software.
                            br
                        p.font-weight-bold Responsabilitati privind produsele si serviciile
                        p
                            | Produsele
                            | (atunci cand este cazul) sunt insotite de certificate de garantie ale producatorilor. GRIVIN. nu
                            | va putea fi facuta responsabila in cazul oricaror neconcordante sau lipsuri in ceea ce priveste
                            | produsele, calitatea acestora sau orice alte aspecte privind aceste produse. Orice reclamatie va fi
                            | adusa la cunostinta GRIVIN in maximum 48 de ore de la receptionarea produselor, urmand ca aceasta
                            | sa fie transmisa furnizorului produselor respective, spre solutionare.
                            br
                            |                     In cazul in care produsele
                            |                     nu se pot livra sau sufera defectiuni pe timpul livrarii, clientul poate cere returnarea imediata a
                            |                     sumelor incasate deja de societatea GRIVIN, dar nu si alte despagubiri.
                            br
                            br
                            |                     GRIVIN nu poate
                            |                     garanta disponibilitatea in stocuri a tuturor produselor afisate. Din acest motiv, GRIVIN isi
                            |                     asuma dreptul de a nu onora comanda in cazul in care respectivul produs nu este aprovizionat
                            |                     momentan. Clientul va primi inapoi banii incasati de societatea GRIVIN pentru respectiva
                            |                     comanda.
                            br
                        p.font-weight-bold
                            | Declinarea
                            | garantiilor si limitari ale responsabilitatilor
                        p
                            | GRIVIN nu ofera nici o garantie
                            | utilizatorilor referitoare la disponibilitatea serviciilor sale, corectitudinea informatiilor
                            | publicate sau securitatea serviciilor sale.
                            br
                            |                     Continutul site-ului (texte, descrieri ale
                            |                     produselor, caracteristici tehnice, imagini, simboluri) este proprietate a firmei GRIVIN si a
                            |                     partenerilor sai si a fost alcatuit in colaborare cu furnizorii produselor prezentate. Imaginile
                            |                     sunt prezentate pe site cu titlu de exemplu, iar produsele efectiv livrate pot diferi de imagini in
                            |                     orice mod (culoare, accesorii, aspect etc.)
                            br
                            |                     Site-ul https://www.grivin.com si materialele
                            |                     aferente sunt oferite &ldquo;asa cum sunt&rdquo; si &ldquo;atat cat sunt disponibile&rdquo;.
                            br
                            |                     GRIVIN nu isi asuma
                            |                     responsabilitatea si nu poate fi facuta responsabila pentru orice pagube aparute prin folosirea in
                            |                     orice fel a produselor achizitionate prin intermediul acestui site, produse pentru care GRIVIN nu
                            |                     ofera nici o garantie, expresa sau implicita.
                            br
                            |                     GRIVIN nu garanteaza si nici nu va putea fi
                            |                     considerata responsabila in cazul in care produsele achizitionate nu corespund scopului pentru care
                            |                     au fost achizitionate.
                            br
                            |                     De asemenea, GRIVIN nu ofera nici o garantie in cazul oricaror
                            |                     consecinte care pot aparea, cauzate de nefunctionarea serviciilor, intarzierea informatiilor sau
                            |                     securitatea aplicatiilor sale.
                            br
                            |                     GRIVIN nu va fi facuta responsabila pentru orice pagube, de
                            |                     orice fel, incluzand, dar nu limitativ, orice daune directe, indirecte sau incidentale. Nu raspundem
                            |                     pentru nici o paguba de-a voastra, de orice fel.
                            br
                        p.font-weight-bold
                            | Politica de preturi. Transportul
                            | produselor.
                        p
                            | Preturile produselor sunt cele afisate pentru fiecare produs in
                            | parte.
                            br
                            | GRIVIN va putea desfasura orice campanie promotionala referitor la produsele afisate pe
                            |                     site, promotii ale caror conditii vor fi stabilite in intregime de catre GRIVIN.
                        p.font-weight-bold Litigii
                        p
                            | Orice tentativa de acces neautorizat la site-ul www.grivin.com si
                            | orice incercare de frauda va fi raportata fara intarziere autoritatilor competente. Toate litigiile
                            | vor fi solutionate pe cale amiabila. Daca litigiul nu poate fi solutionat pe acel amiabila, sau una
                            | din parti renunta la solutionarea pe cale amiabila, litigiul se va solutiona prin arbitrajul Curtii
                            | de Arbitraj Comercial International de pe langa Camera de Comert si Industrie a Romaniei si a
                            | Municipiului Bucuresti in conformitate cu Regulile de procedura arbitrala ale acestei Curti.
                            | Hotararea arbitrala este definitiva si obligatorie. Forta majora invocata si probate de una din
                            | parti in conditiile legii, exonereaza partile de obligatii &ndash; cu exceptia obligatiei de plata pentru
                            | serviciile prestate pana la aparitia ei &ndash; pe intreaga durata a fortei majore.
                            br
                        p.font-weight-bold Daune la transport
                        p
                            | Produsele primite vor fi verificate in prezenta reprezentantului
                            | transportatorului, iar daca din nefericire produsele se dovedesc a avea daune din cauza
                            | transportului, clientul are dreptul de a refuza comanda si este rugat sa reclame aceste daune la
                            | comenzi@grivin.com GRIVIN returneaza contravaloarea (daca plata a fost efectuata in avans) sau
                            | retrimite coletul la cererea clientului.
                            br
                        p.font-weight-bold Drepturi de autor (COPYRIGHT)
                        p
                            | Intregul
                            | continut al site-ului www.grivin.com&ndash; imagini, texte, grafice, simboluri, elemente de grafica
                            | WEB, scripturi, programe si alte date &ndash; este proprietatea GRIVIN si a furnizorilor sai si este
                            | aparat de Legea drepturilor de autor si de legile privind proprietatea intelectuala si industriala.
                            | Folosirea fara acordul GRIVIN a oricaror elemente enumerate mai sus se pedepseste conform legilor
                            | in vigoare.
                        p.font-weight-bold Comentarii, Comunicari si Alte Date/Informatii
                        p
                            | Persoanele
                            | care acceseaza/viziteaza site-ul pot face comentarii si orice alte comunicari; pot sa trimita
                            | e-mailuri, sa transmita sugestii, idei, intrebari sau alte informatii, atata timp cat continutul
                            | acestora nu este ilegal, obscen, amenintator, defaimator, nu tulbura in nici un fel viata privata a
                            | altor persoane, nu incalca drepturile de proprietate intelectuala, nu contine virusi, texte vizand
                            | diverse campanii de promovare, scrisori in lant, email-uri in masa sau orice alta forma de spam.
                            br
                            |    Persoanele care vor utiliza o adresa falsa de e-mail sau vor transmite mesaje electronice sau orice
                            | alte comunicari in numele unei alte persoane fizice sau juridice sau in numele oricarei alte
                            | entitati vor fi sanctionate in conformitate cu legile in vigoare. grivin.com are dreptul (dar nu
                            | si obligatia) de a sterge orice astfel de continuturi identificate pe site.
                        p.font-weight-bold Parteneri
                        p
                            | GRIVIN are contracte de revanzare cu reprezentanti importanti ai
                            | marcilor prezente in magazinele noastre. Despre calitatea produselor, despre autenticitatea marcii
                            | si despre orice alte nelamuriri despre o anume marca sau un anume produs, clientul se poate adresa
                            | reprezentantului marcii respective sau importatorului din Romania..


                        p.font-weight-bold
                            | <!-- Cum stiti daca
                            | informatiile de pe credit cardul dvs sunt in siguranta?
                        p
                            | Pentru a fi siguri ca ati
                            | accesat serverul nostru de securitate, inainte de a introduce informatii financiare cu caracter
                            | privat, verificati in coltul din stanga jos al browserului dvs. In cazul in care vedeti o cheie
                            | nedesfacuta sau o incuietoare inchisa (depinde de browserul pe care il aveti dvs), atunci sistemul
                            | SSL este activ. Ca sa repetati verificarea sistemului de siguranta, uitati-va la URL-ul sau linia de
                            | locatie a browserului dvs. In cazul in care ati accesat un server de securitate, primele caractere
                            | din adresa ar trebui sa se modifice de la "http" la "https"
                            br
                            |                     Anumite versiuni de browsere si
                            |                     anumite firewall-uri nu permit comunicarea prin intermediul serverelor de securitate pe care le
                            |                     folosim noi pentru a procesa comenzi la magazin. In cazul in care nu puteti accesa serverul de
                            |                     securitate, indiferent din ce motiv, va rugam sa ne transmiteti comanda dvs prin e-mail la
                            |                     comenzi@grivin.com Reprezentantii serviciului nostru de support clienti va vor acorda asistenta de
                            |                     care aveti nevoie. -->


                        p.font-weight-bold Taxe Suplimentare
                        p
                            | Pretul final platit de client este
                            | format din pretul produsului si cheltuielile de expeditie. GRIVIN nu percepe nici o taxa
                            | suplimentara clientului la cumpararea produsului. Pentru orice taxa perceputa suplimentar, va rugam
                            | sa va adresati imediat la comenzi@grivin.com
                        p.font-weight-bold Dispozitii Finale
                        p
                            | Daca
                            | oricare dintre clauzele de mai sus va fi gasita nula sau nevalida, indiferent de cauza, aceasta
                            | clauza nu va afecta valabilitatea celorlalte clauze. Odata cu cumpararea si lansarea comenzii,
                            | clientul acepta fara obiectiuni conditiile si termenii de utilizare, valoarea acestora fiind aceasi
                            | cu un contract valabil incheiat.
    include pug_includes/footer


include pug_includes/generic_imports