link(rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
script(src='js/jquery-3.4.1.min.js')
script(src='plugins/parallax-js-master/parallax.min.js')
script(src='styles/popper.min.js')
script(src='styles/bootstrap.min.js')
script(src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js')
script(src='https://cdn.jsdelivr.net/npm/magnific-popup@1.1.0/dist/jquery.magnific-popup.js')
script(src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.3/mustache.js')
script(src='https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js')
script(src='https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js')
script(src='js/custom.js')
script(src='js/produse.js')
script(src='js/magazin.js')

script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-147392597-1')
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-147392597-1');


script(type='application/ld+json').
    {
    "@context": "https://schema.org/",
    "@type": "Product",
    "name": "Vin GRIVIn Rosu",
    "image": [
    "https://grivin.com/img/produse/grivin_red.png",
    "https://grivin.com/img/produse/grivin_rose.png",
    "https://grivin.com/img/produse/grivin_white.png"
    ],
    "description": "Acest vin rosu este un cupaj nobil de Merlot, Cabernet Sauvignon si Syrah, fiind rezultatul unei meticuloase imbinari a muncii in podgorie si in crama. Acest vin este bogat, fervent si elegant. Cu o culoare intensa, mirosul este complex, cu indicii de fructe coapte si condimente, ardei, cuisoare si un strop de vanilie dulce, are un gust plin si bine structurat cu taninuri usor matasoase. Se recomanda savurarea lui la o temperatura intre 18 si 20 de grade Celsius.",
    "sku": "100001",
    "mpn": "100000",
    "brand": {
    "@type": "Thing",
    "name": "GRIVIn House"
    },
    "offers": {
    "@type": "Offer",
    "url": "https://example.com/anvil",
    "priceCurrency": "RON",
    "price": "75.00",
    "priceValidUntil": "2019-09-20",
    "itemCondition": "https://schema.org/NewCondition",
    "availability": "https://schema.org/InStock",
    "seller": {
    "@type": "Organization",
    "name": "GRIVIn House SRL"
    }
    }
    }
