@font-face {
    font-family: trajan;
    src: url(../font/TrajanP0.otf);
}


.grivin-emblem{
    font-family: trajan, serif !important;
    color:black;
    text-shadow: -1px 0 white, -3px 0 #CE9042;


    line-height: .4;
    font-size: 55px;
}

.grivin-font{
    font-family: trajan, serif !important;
}



.grivin-border{
    background: #FFFFFF;
    border: solid 4px #272425;
    z-index: 1;
}

.box-shadow{
    box-shadow: 0px 45px 70px rgba(0,0,0,0.24);

}

.grivin-border:before{
    content: " ";
    position: absolute;
    z-index: -1;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 2px solid #CE9042;
}

input.form-control:focus{
    box-shadow: 0 0 0 0.2rem rgba(156, 42, 48, 0.25);
}


.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}



.footer
{
    width: 100%;
    background: #FFF9CD;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer_logo_title
{
    font-size: 57px;
    line-height: 0.75;
    color: #FFFFFF;
}
.footer_logo_subtitle
{
    font-size: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 0.680em;
    line-height: 0.75;
    margin-top: 17px;
}

.footer_about p
{
    color: #a5a4a4;
}
.footer_contact ul li:not(:last-child)
{
    margin-bottom: 15px;
}
.footer_contact_title
{
    width: 61px;
    height: 21px;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 21px;
    background: #9C2A30;
    padding-left: 8px;
    margin-right: 11px;
}
.footer_contact_text
{
    font-size: 1rem;
    color: black;
    line-height: 21px;
}


.header_logo{
    height:120px;
}

.header_logo.scrolled{
    height:50px;
}

.header_logo{
    -moz-transition: height 300ms ease-in-out, left 300ms ease-in-out;
    -webkit-transition: height 300ms ease-in-out, left 300ms ease-in-out;
    -moz-transition: height 300ms ease-in-out, left 300ms ease-in-out;
    -o-transition: height 300ms ease-in-out, left 300ms ease-in-out;
    transition: height 300ms ease-in-out, left 300ms ease-in-out;
}